---
import "@dynage/ui/globals.css";
import { ThemedHeader } from "@dynage/ui/components/themed-header";
import { Footer } from "@dynage/ui/components/footer";
import { SITE, LINKS, LOGO } from "../consts";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE.DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || SITE.TITLE}</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
    
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white transition-colors duration-300">
    <ThemedHeader
      client:load
      site={SITE}
      links={LINKS}
      logo={LOGO}
      text="ENGINEERING"
      pathname={Astro.url.pathname}
    />
    <main class="pt-16">
      <slot />
    </main>
    <Footer site={SITE} />
  </body>
</html>
<style is:global>
	html,
	body {
		height: 100%;
		min-height: 100vh;
	}
	body {
		display: flex;
		flex-flow: column;
	}
	body > main {
		flex: 1;
	}
	.content-wrapper {
        :is(h2,h3,h4,h5,h6) {
            font-weight: 600;
            margin-top: 1ex;
        }
        p {
            margin-top: 1ex;
        }
        h2 {
            font-size: 1.875rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.35rem;
        }
        h5, h6 {
            font-weight: 500;
            font-size: 1.1rem;
        }
		ul {
			list-style-type:square;
			list-style-position: inside;
			margin-top: 1ex;
		}
		pre {
			margin-top: 1ex;
			padding-block: 1.5rem;
		}
    }
</style>